@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slideInRight {
  from {
    transform: translateX(100%); /* Fuera de la vista por la derecha */
    opacity: 0;
  }
  to {
    transform: translateX(0); /* Posición original */
    opacity: 1;
  }
}
@keyframes scaleUp {
  from {
    transform: scale(0.8);
    opacity: 0.5;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes rotateIn {
  from {
    transform: rotate(-180deg);
    opacity: 0;
  }
  to {
    transform: rotate(0);
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn 1s ease-out forwards;
}

.slide-in-left {
  animation: slideInLeft 1s ease-out forwards;
}

.slide-in-right {
  animation: slideInRight 1s ease-out forwards;
}

.scale-up {
  animation: scaleUp 1s ease-out forwards;
}

.rotate-in {
  animation: rotateIn 1s ease-out forwards;
}

.networksContainer {
  width: 100px;
  position: fixed;
  z-index: 1;
  bottom: 2vh;
  right: 2vh;
}
.networksContainer__network {
  width: 90%;
  transition: transform 0.3s ease-in-out;
}
.networksContainer__network:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.main__homeContainerMobile {
  display: none;
}
.main__homeContainer {
  background-image: url("../img/granciudad.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main__homeContainer__left {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  color: white;
  padding-top: 15vh;
}
.main__homeContainer__left__cardContainer {
  background-color: rgba(253, 209, 0, 0.8);
  width: 75%;
  height: auto;
  padding: 6vh 8vh;
  border-bottom-right-radius: 20%;
  border-top-right-radius: 20%;
  /* &__text {
      width: 100%;
      height: auto;
      @include disfc;
      &__prop {
          width: 75%;
          background-color: rgba(0, 0, 0, 0.9);
          text-align: justify;
          font-size: 18px;
          border-bottom-left-radius: 2vh;
          border-bottom-right-radius: 2vh;
          padding: 0vh 6vh 4vh 6vh;
      }
  } */
}
.main__homeContainer__left__cardContainer__title {
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  border-top-left-radius: 2vh;
  border-top-right-radius: 2vh;
  border-radius: 2vh;
  padding: 4vh 0vh 2vh 0vh;
  font-size: 20px;
}
.main__homeContainer__left__cardContainer__text {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__homeContainer__left__cardContainer__text__prop {
  width: 90%;
  font-size: 25px;
  border-bottom-left-radius: 2vh;
  border-bottom-right-radius: 2vh;
  padding: 0vh;
  color: black;
}
.main__homeContainer__right {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: end;
  align-items: center;
  color: white;
  padding-top: 40vh;
}
.main__homeContainer__right__cardContainer {
  background-color: rgba(253, 209, 0, 0.8);
  width: 75%;
  height: auto;
  padding: 6vh 8vh;
  border-bottom-left-radius: 20%;
  border-top-left-radius: 20%;
  /* &__text {
      width: 100%;
      height: auto;
      @include disfc;
      &__prop {
          width: 75%;
          background-color: rgba(0, 0, 0, 0.9);
          text-align: justify;
          font-size: 18px;
          border-bottom-left-radius: 2vh;
          border-bottom-right-radius: 2vh;
          padding: 0vh 6vh 4vh 6vh;
      }
  } */
}
.main__homeContainer__right__cardContainer__title {
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.9);
  border-top-left-radius: 2vh;
  border-top-right-radius: 2vh;
  border-radius: 2vh;
  padding: 4vh 0vh 2vh 0vh;
  font-size: 20px;
}
.main__homeContainer__right__cardContainer__text {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__homeContainer__right__cardContainer__text__prop {
  width: 90%;
  font-size: 25px;
  border-bottom-left-radius: 2vh;
  border-bottom-right-radius: 2vh;
  padding: 0vh;
  color: black;
}
.main__aboutContainer {
  background-image: url("../img/quienes-somos-fondo.jpg");
  background-size: cover;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__aboutContainer__titleContainer {
  background-color: rgba(169, 169, 169, 0.8);
  width: 100%;
  height: auto;
  padding: 2vh 0vh;
  border-bottom-left-radius: 20%;
  border-top-right-radius: 20%;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8); /* Sombra más oscura solo en la parte inferior */
  box-shadow: 4px 4px 10px black, -4px -4px 10px black;
}
.main__aboutContainer__titleContainer__title {
  font-size: 30px;
  padding-left: 10vh;
}
.main__aboutContainer__aboutTextContainer {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 8vh 0vh;
}
.main__aboutContainer__aboutTextContainer__textContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0vh;
}
.main__aboutContainer__aboutTextContainer__textContainer__text {
  background-color: rgba(253, 209, 0, 0.9);
  width: 75%;
  text-align: justify;
  font-size: 20px;
  border-radius: 10px;
  box-shadow: 10px 12px 12px rgba(0, 0, 0, 0.9);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 5vh;
}
.main__aboutContainer__aboutTextContainer__textContainer__text:hover {
  transform: scale(1.05);
}
.main__aboutContainer__aboutTextContainer__imgContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__aboutContainer__aboutTextContainer__imgContainer__img {
  background-color: rgba(169, 169, 169, 0.8);
  width: 80%;
  border-radius: 2vh;
}
.main__servicesContainer {
  background-image: url("../img/fondoAguaMontaña.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
  height: 700px;
}
.main__servicesContainer__titleContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: end;
  padding: 2vh 0vh 0vh 0vh;
  border-bottom-left-radius: 20%;
  border-top-right-radius: 20%;
}
.main__servicesContainer__titleContainer__title {
  font-size: 30px;
  padding-right: 10vh;
  font-weight: bold;
}
.main__servicesContainer__cardsContainer {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.main__servicesContainer__cardsContainer__cardContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__servicesContainer__cardsContainer__cardContainer__cardLeft {
  background-color: rgba(253, 209, 0, 0.7);
  width: 60%;
  height: auto;
  border-radius: 10px;
  box-shadow: 10px 12px 12px rgba(0, 0, 0, 0.9);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 6vh 0vh;
  margin-top: 5vh;
  border-bottom-right-radius: 30%;
  border-top-left-radius: 30%;
}
.main__servicesContainer__cardsContainer__cardContainer__cardLeft:hover {
  transform: scale(1.1);
}
.main__servicesContainer__cardsContainer__cardContainer__cardLeft__imgContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__servicesContainer__cardsContainer__cardContainer__cardLeft__imgContainer__img {
  width: 30%;
}
.main__servicesContainer__cardsContainer__cardContainer__cardLeft__data {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.main__servicesContainer__cardsContainer__cardContainer__cardLeft__data__title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.main__servicesContainer__cardsContainer__cardContainer__cardLeft__data__textContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__servicesContainer__cardsContainer__cardContainer__cardLeft__data__textContainer__text {
  width: 80%;
  text-align: justify;
  font-size: 16px;
}
.main__servicesContainer__cardsContainer__cardContainer__cardRight {
  background-color: rgba(253, 209, 0, 0.7);
  width: 60%;
  height: auto;
  border-radius: 10px;
  box-shadow: 10px 12px 12px rgba(0, 0, 0, 0.9);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 6vh 0vh;
  margin-top: 20vh;
  border-bottom-right-radius: 30%;
  border-top-left-radius: 30%;
}
.main__servicesContainer__cardsContainer__cardContainer__cardRight:hover {
  transform: scale(1.1);
}
.main__servicesContainer__cardsContainer__cardContainer__cardRight__imgContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__servicesContainer__cardsContainer__cardContainer__cardRight__imgContainer__img {
  width: 25%;
}
.main__servicesContainer__cardsContainer__cardContainer__cardRight__data {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.main__servicesContainer__cardsContainer__cardContainer__cardRight__data__title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  padding: 1vh 0vh;
}
.main__servicesContainer__cardsContainer__cardContainer__cardRight__data__textContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__servicesContainer__cardsContainer__cardContainer__cardRight__data__textContainer__text {
  width: 80%;
  text-align: justify;
  font-size: 16px;
}
.main__contactContainer {
  width: 100%;
  height: auto;
}
.main__contactContainer__contact {
  background-image: url("../img/fondo_contacto.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.main__contactContainer__contact__titleContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 4vh;
  border-bottom-right-radius: 4vh;
}
.main__contactContainer__contact__titleContainer__title {
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 20vh;
  padding: 4vh 0vh;
  font-weight: bold;
  color: black;
}
.main__contactContainer__contact__info {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}
.main__contactContainer__contact__info__myData {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
}
.main__contactContainer__contact__info__myData__data {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 4vh 4vh;
  border-top-left-radius: 10vh;
  border-bottom-right-radius: 10vh;
  box-shadow: 10px 10px 10px black, -4px -4px 10px black;
}
.main__contactContainer__contact__info__myData__dataMobile {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 4vh 4vh;
  border-top-left-radius: 10vh;
  border-bottom-right-radius: 10vh;
  box-shadow: 10px 10px 10px black, -4px -4px 10px black;
  display: none;
}
.main__contactContainer__contact__info__formContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vh 0vh;
}
.main__contactContainer__contact__info__formContainer__form {
  background-color: rgba(0, 0, 0, 0.7);
  width: 60%;
  height: auto;
  padding: 5vh 5vh 6vh 5vh;
  color: white;
  border-top-left-radius: 10vh;
  border-bottom-right-radius: 10vh;
  box-shadow: 10px 10px 10px black, -4px -4px 10px black;
}
.main__contactContainer__contact__info__formContainer__form__title {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2vh;
}
.main__contactContainer__contact__info__formContainer__form__title__prop {
  font-size: 18px;
}
.main__contactContainer__contact__info__formContainer__form__labels {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4vh;
  padding-top: 1vh;
}
.main__contactContainer__contact__info__formContainer__form__labels__label {
  font-size: 16px;
}
.main__contactContainer__contact__info__formContainer__form__inputs {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4vh;
  padding-top: 1vh;
}
.main__contactContainer__contact__info__formContainer__form__inputs__input {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__contactContainer__contact__info__formContainer__form__inputs__input__prop {
  width: 100%;
  height: 30px;
  font-size: 16px;
  border-radius: 1vh;
  border: none;
}
.main__contactContainer__contact__info__formContainer__form__labelMsj {
  width: 100%;
  height: auto;
  padding-top: 1vh;
}
.main__contactContainer__contact__info__formContainer__form__labelMsj__label {
  font-size: 16px;
}
.main__contactContainer__contact__info__formContainer__form__textAreaContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1vh;
}
.main__contactContainer__contact__info__formContainer__form__textAreaContainer__textArea {
  width: 90%;
  height: 100px;
  font-size: 16px;
  border-radius: 1vh;
}
.main__contactContainer__contact__info__formContainer__form__btnContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4vh;
}
.main__contactContainer__contact__info__formContainer__form__btnContainer__btn {
  background-color: white;
  width: 60%;
  height: 50px;
  padding: 0.5vh 5vh;
  box-shadow: 5px 5px 15px black, -4px -4px 10px black;
  color: black;
  font-size: 20px;
  border-radius: 2vh;
  letter-spacing: 0.3vh;
  font-weight: bold;
}

.header {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: fixed;
  z-index: 1;
  transition: top 0.5s ease-in-out;
  padding: 1vh 0vh;
}
.header__logoContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 2/3;
}
.header__logoContainer__logo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logoContainer__logo__prop {
  width: 25%;
  transition: all 0.2s ease-in-out;
}
.header__logoContainer__logo__prop:hover {
  transform: scale(1.05);
}
.header__logoContainer__logo__propSinFondo {
  width: 20%;
  transition: all 0.2s ease-in-out;
  padding: 2vh 0vh;
}
.header__logoContainer__logo__propSinFondo:hover {
  transform: scale(1.05);
}
.header__menuContainer {
  width: 100%;
  height: auto;
  display: flex;
}
.header__menuContainer__menu {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vh;
}
.header__menuContainer__menu__item {
  font-size: 14px;
  color: white;
  transition: all 0.2s ease-in-out;
}
.header__menuContainer__menu__item:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.menuOptionsContainer {
  display: none;
}

.headerMobile {
  display: none;
}

@media (max-width: 480px) {
  .header {
    display: none;
  }
  .menuOptionsContainer {
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: auto;
    position: fixed;
    top: 12vh;
    right: -1000px;
    display: block;
    border-top-left-radius: 20%;
    z-index: 1;
    transition: right 0.5s ease;
  }
  .menuOptionsContainer.active {
    right: 0;
  }
  .menuOptionsContainer__menuOptions {
    width: 100%;
    height: auto;
    z-index: 1;
    padding: 4vh 0vh 2vh 0vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;
  }
  .menuOptionsContainer__menuOptions__item {
    color: white;
    letter-spacing: 0.5vh;
    font-size: 16px;
    gap: 1vh;
    padding-left: 2vh;
  }
  .headerMobile {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    position: fixed;
    padding: 1vh 0vh;
    z-index: 1;
    transition: top 0.5s ease-in-out;
  }
  .headerMobile__logo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .headerMobile__logo__prop {
    width: 70%;
  }
  .headerMobile__logo__propSinFondo {
    width: 50%;
    padding: 2vh 0vh;
  }
  .headerMobile__menu {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: white;
    gap: 1vh;
  }
  .headerMobile__menu__linea {
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1vh;
  }
  .headerMobile__menu__linea__prop {
    background-color: white;
    width: 100%;
    height: 0.5vh;
    border-radius: 1vh;
  }
}
.footer {
  background-color: #fdd100;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}
.footer__dataContainer {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.footer__dataContainer__data {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column: 1/2;
  padding: 10vh 0vh 6vh 0vh;
}
.footer__dataContainer__data__nav {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-right: 0.3vh solid black;
  gap: 2vh;
}
.footer__dataContainer__data__nav__item {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__dataContainer__data__nav__item__prop {
  font-size: 14px;
  cursor: pointer;
}
.footer__dataContainer__data__nav__item__prop:hover {
  color: whitesmoke;
}
.footer__dataContainer__data__networks {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 1vh;
}
.footer__dataContainer__data__networks__item {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.footer__dataContainer__data__networks__item__logoContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: end;
}
.footer__dataContainer__data__networks__item__logoContainer__logo {
  width: 40%;
}
.footer__dataContainer__data__networks__item__network {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.footer__dataContainer__data__networks__item__network__prop {
  width: 100%;
}
.footer__copyrightContainer {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh 0vh;
}
.footer__copyrightContainer__copyright {
  font-size: 12px;
}

@media (max-width: 480px) {
  .footer {
    background-color: #fdd100;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .footer__dataContainer {
    width: 100%;
    height: auto;
    display: flex;
  }
  .footer__dataContainer__data {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 8vh 0vh 6vh 0vh;
  }
  .footer__dataContainer__data__nav {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-right: 0.3vh solid black;
    gap: 2vh;
  }
  .footer__dataContainer__data__nav__item {
    width: 100%;
    height: auto;
  }
  .footer__dataContainer__data__nav__item__prop {
    font-size: 10px;
  }
  .footer__dataContainer__data__networks {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1vh;
  }
  .footer__dataContainer__data__networks__item {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
  }
  .footer__dataContainer__data__networks__item__logoContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
  }
  .footer__dataContainer__data__networks__item__logoContainer__logo {
    width: 40%;
  }
  .footer__dataContainer__data__networks__item__network {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
  .footer__dataContainer__data__networks__item__network__prop {
    width: 100%;
  }
  .footer__copyrightContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vh 0vh;
  }
  .footer__copyrightContainer__copyright {
    font-size: 8px;
  }
}
@media (max-width: 480px) {
  .networksContainer {
    width: 55px;
    position: fixed;
    z-index: 1;
    bottom: 2vh;
    right: 2vh;
  }
  .networksContainer__network {
    width: 100%;
    transition: transform 0.3s ease-in-out;
  }
  .networksContainer__network:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  .main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .main__homeContainer {
    display: none;
  }
  .main__homeContainerMobile {
    background-image: url("../img/fondo_home_mobile.jpg");
    background-size: cover;
    background-attachment: scroll;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    display: block;
    padding-bottom: 5vh;
  }
  .main__homeContainerMobile__up {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    color: white;
    padding-top: 30vh;
  }
  .main__homeContainerMobile__up__cardContainer {
    background-color: rgba(253, 209, 0, 0.8);
    width: 75%;
    height: auto;
    padding: 2vh 4vh;
    border-bottom-right-radius: 20%;
    border-top-right-radius: 20%;
  }
  .main__homeContainerMobile__up__cardContainer__title {
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    border-radius: 2vh;
    padding: 2vh 0vh 2vh 0vh;
    font-size: 15px;
  }
  .main__homeContainerMobile__up__cardContainer__text {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main__homeContainerMobile__up__cardContainer__text__prop {
    width: 90%;
    font-size: 16px;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    padding: 0vh;
    color: black;
  }
  .main__homeContainerMobile__down {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    color: white;
    padding-top: 2vh;
  }
  .main__homeContainerMobile__down__cardContainer {
    background-color: rgba(253, 209, 0, 0.8);
    width: 80%;
    height: auto;
    padding: 2vh 4vh;
    border-bottom-left-radius: 20%;
    border-top-left-radius: 20%;
  }
  .main__homeContainerMobile__down__cardContainer__title {
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    border-top-left-radius: 2vh;
    border-top-right-radius: 2vh;
    border-radius: 2vh;
    padding: 2vh 0vh 1vh 0vh;
    font-size: 16px;
  }
  .main__homeContainerMobile__down__cardContainer__text {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main__homeContainerMobile__down__cardContainer__text__prop {
    width: 90%;
    font-size: 16px;
    border-bottom-left-radius: 2vh;
    border-bottom-right-radius: 2vh;
    padding: 0vh;
    color: black;
  }
  .main__aboutContainer {
    background-image: url("../img/quienes-somos-fondo_mobile.jpg");
    background-size: cover;
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10vh;
  }
  .main__aboutContainer__titleContainer {
    background-color: rgba(169, 169, 169, 0.7);
    width: 100%;
    height: auto;
    padding: 2vh 0vh;
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8); /* Sombra más oscura solo en la parte inferior */
    box-shadow: 4px 4px 10px black, -4px -4px 10px black;
  }
  .main__aboutContainer__titleContainer__title {
    font-size: 30px;
    padding-left: 10vh;
  }
  .main__aboutContainer__aboutTextContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0vh 0vh;
    margin-top: 40vh;
  }
  .main__aboutContainer__aboutTextContainer__textContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10vh;
  }
  .main__aboutContainer__aboutTextContainer__textContainer__text {
    background-color: rgba(253, 209, 0, 0.9);
    width: 65%;
    text-align: justify;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 10px 12px 12px rgba(0, 0, 0, 0.9);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 5vh;
  }
  .main__aboutContainer__aboutTextContainer__textContainer__text:hover {
    transform: scale(1.05);
  }
  .main__aboutContainer__aboutTextContainer__imgContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main__aboutContainer__aboutTextContainer__imgContainer__img {
    background-color: rgba(169, 169, 169, 0.8);
    width: 80%;
    border-radius: 2vh;
  }
  .main__servicesContainer {
    background-image: url("../img/fondoAguaMontaña.jpg");
    background-size: cover;
    background-attachment: scroll;
    width: 100%;
    height: auto;
    padding-bottom: 2vh;
  }
  .main__servicesContainer__titleContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
    padding: 2vh 0vh 0vh 0vh;
    border-bottom-left-radius: 20%;
    border-top-right-radius: 20%;
  }
  .main__servicesContainer__titleContainer__title {
    font-size: 20px;
    padding-right: 2vh;
  }
  .main__servicesContainer__cardsContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .main__servicesContainer__cardsContainer__cardContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main__servicesContainer__cardsContainer__cardContainer__cardLeft {
    background-color: rgba(253, 209, 0, 0.7);
    width: 70%;
    height: auto;
    border-radius: 10px;
    box-shadow: 10px 12px 12px rgba(0, 0, 0, 0.9);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 4vh 0vh;
    margin-top: 5vh;
    border-bottom-right-radius: 30%;
    border-top-left-radius: 30%;
  }
  .main__servicesContainer__cardsContainer__cardContainer__cardLeft:hover {
    transform: scale(1.1);
  }
  .main__servicesContainer__cardsContainer__cardContainer__cardLeft__imgContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main__servicesContainer__cardsContainer__cardContainer__cardLeft__imgContainer__img {
    width: 35%;
  }
  .main__servicesContainer__cardsContainer__cardContainer__cardLeft__data {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .main__servicesContainer__cardsContainer__cardContainer__cardLeft__data__title {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 1vh 0vh;
  }
  .main__servicesContainer__cardsContainer__cardContainer__cardLeft__data__textContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main__servicesContainer__cardsContainer__cardContainer__cardLeft__data__textContainer__text {
    width: 80%;
    text-align: justify;
    font-size: 14px;
  }
  .main__servicesContainer__cardsContainer__cardContainer__cardRight {
    background-color: rgba(253, 209, 0, 0.7);
    width: 70%;
    height: auto;
    border-radius: 10px;
    box-shadow: 10px 12px 12px rgba(0, 0, 0, 0.9);
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 4vh 0vh;
    margin: 10vh 0vh 5vh 0vh;
    border-bottom-right-radius: 30%;
    border-top-left-radius: 30%;
  }
  .main__servicesContainer__cardsContainer__cardContainer__cardRight:hover {
    transform: scale(1.1);
  }
  .main__servicesContainer__cardsContainer__cardContainer__cardRight__imgContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main__servicesContainer__cardsContainer__cardContainer__cardRight__imgContainer__img {
    width: 30%;
  }
  .main__servicesContainer__cardsContainer__cardContainer__cardRight__data {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .main__servicesContainer__cardsContainer__cardContainer__cardRight__data__title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 1vh 0vh;
  }
  .main__servicesContainer__cardsContainer__cardContainer__cardRight__data__textContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main__servicesContainer__cardsContainer__cardContainer__cardRight__data__textContainer__text {
    width: 80%;
    text-align: justify;
    font-size: 14px;
  }
  .main__contactContainer {
    width: 100%;
    height: auto;
    padding-top: 0vh;
  }
  .main__contactContainer__contact {
    background-image: url("../img/fondo_contacto_mobile.jpg");
    background-size: cover;
    background-attachment: scroll;
    overflow: hidden;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .main__contactContainer__contact__titleContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main__contactContainer__contact__titleContainer__title {
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    border-radius: 20vh;
    padding: 4vh 10vh;
    color: black;
  }
  .main__contactContainer__contact__info {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding-top: 5vh;
  }
  .main__contactContainer__contact__info__myData {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
  }
  .main__contactContainer__contact__info__myData__data {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 4vh 4vh;
    border-top-left-radius: 10vh;
    border-bottom-right-radius: 10vh;
    box-shadow: 10px 10px 10px black, -4px -4px 10px black;
    display: none;
  }
  .main__contactContainer__contact__info__myData__dataMobile {
    display: block;
  }
  .main__contactContainer__contact__info__formContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5vh 0vh;
  }
  .main__contactContainer__contact__info__formContainer__form {
    width: 70%;
    height: auto;
    padding: 0vh 4vh 5vh 4vh;
    border-radius: 5vh;
  }
  .main__contactContainer__contact__info__formContainer__form__title {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4vh;
  }
  .main__contactContainer__contact__info__formContainer__form__title__prop {
    font-size: 16px;
  }
  .main__contactContainer__contact__info__formContainer__form__labels {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4vh;
    padding-top: 1vh;
  }
  .main__contactContainer__contact__info__formContainer__form__labels__label {
    font-size: 12px;
  }
  .main__contactContainer__contact__info__formContainer__form__inputs {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4vh;
    padding-top: 1vh;
  }
  .main__contactContainer__contact__info__formContainer__form__inputs__input {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .main__contactContainer__contact__info__formContainer__form__inputs__input__prop {
    width: 100%;
    height: 25px;
    font-size: 12px;
    border-radius: 1vh;
    border: none;
  }
  .main__contactContainer__contact__info__formContainer__form__labelMsj {
    width: 100%;
    height: auto;
    padding-top: 1vh;
  }
  .main__contactContainer__contact__info__formContainer__form__labelMsj__label {
    font-size: 12px;
  }
  .main__contactContainer__contact__info__formContainer__form__textAreaContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1vh;
  }
  .main__contactContainer__contact__info__formContainer__form__textAreaContainer__textArea {
    width: 90%;
    height: 80px;
    font-size: 12px;
    border-radius: 1vh;
  }
  .main__contactContainer__contact__info__formContainer__form__btnContainer {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4vh;
  }
  .main__contactContainer__contact__info__formContainer__form__btnContainer__btn {
    background-color: white;
    width: 80%;
    height: 40px;
    padding: 0.5vh 5vh;
    box-shadow: 5px 5px 15px black, -4px -4px 10px black;
    color: black;
    font-size: 20px;
    border-radius: 2vh;
  }
}/*# sourceMappingURL=main.css.map */